
<!--
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/rombane/image/upload/v1606458353/vb2e1frlu7motk2z6wc6.jpg);">
  <div class="container">
    <h1>Today's Specials!</h1>
    <p>Embrace the Madness</p>
  </div>
</div>
<br>
<div class ="cards index">
  <%@cocktails.each do |cocktail|%>
    <div class ="card-category">
      <div class = "card-category-image"><%= cl_image_tag cocktail.photo.key , height: 50, width: 50, crop: :fill%></div>
      <h4><i><%=link_to cocktail.name, cocktail_path(cocktail.id)%></i></h4>
    </div>
  <% end %>
</div>

<br><br>
<p><%= link_to "Add new cocktail", new_cocktail_path %></p>

-->

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <img src="https://img.icons8.com/ios/2x/kitchen--v1.png" />
    <img src="https://cdn.onlinewebfonts.com/svg/img_464447.png" />
    <img src="https://cdn.onlinewebfonts.com/svg/img_448264.png" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div>
    <ul class = "navbar-nav centrals">
    <li class = "nav-item">
      <a class="nav-link welcome-text">Welcome, dear USERNAME</a>
    </li>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Become a worker!</a>
      </li>
      <li class="nav-item dropdown">
        <img class="avatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://memegenerator.net/img/images/12077751.jpg" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Register</a>
          <a class="dropdown-item" href="#">Sign in</a>
          <a class="dropdown-item" href="#">Become a worker</a>
        </div>
      </li>
    </ul>
  </div>
</div>

<br> <br>
<div class="card-profile" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)), url(https://media.gettyimages.com/photos/circa-1925-mugshot-of-american-gangster-al-capone-smiling-in-a-jacket-picture-id3224921)">
  <div class ="card-title">Yanto (Canggu)</div>
  <div class ="card-subtitle"> Hello my name is Yanto, specialized in gardening and plumbing.</div>
</div>


<br> <br>
<div class="card-tag" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(https://eiqsh.eu/wp-content/uploads/2020/06/Test-hotels-hygiene.jpg)">
  <div class ="card-title">House Cleaning</div>
  <div class ="card-subtitle">Clean your house in few hours, with guaranteed quality.</div>
</div>
