<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/rombane/image/upload/v1606458353/vb2e1frlu7motk2z6wc6.jpg);">
  <div class="container">
    <h1>Today's Specials!</h1>
    <p>Embrace the Madness</p>
  </div>
</div>
<br>
<div class ="cards index">
  <%@cocktails.each do |cocktail|%>
    <div class ="card-category">
      <div class = "card-category-image"><%= cl_image_tag cocktail.photo.key , height: 50, width: 50, crop: :fill%></div>
      <h4><i><%=link_to cocktail.name, cocktail_path(cocktail.id)%></i></h4>
    </div>
  <% end %>
</div>

<br><br>
<p><%= link_to "Add new cocktail", new_cocktail_path %></p>