.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-category {
  display: flex;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  height: 100px;
  align-items: center;
  color: darkgrey;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-right: 10px
}
.card-category-image {
  padding: 5px;
}
.card-new {
  background-size: cover;
  background-position: center;
  height: 175px;
  justify-content: center;
  align-items: center;
  color: darkblue;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-left: 3%;
}
.new-dose {
  height: 250px;
}

.card-trip {
  background-size: cover;
  background-position: center;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 4px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-body p {
  font-size: 15px;
}


.card-category p {
  font-size: 15px;
}

.doses{
  flex-direction: column;
  justify-content: left;
  width: 40%;
  margin: auto;
}

.card-category h4 {
  font-size: 30px;
  color: black;
}

.card-sub-info {
text-align: center;
justify-content: center;
}
