.navbar-lewagon {
  justify-content: space-between;
  background: #6eb9e7;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item.become-worker{
  background-color: blue;
  border-radius: 20px;
  font-weight: bold;
}


.welcome-text {
  color: darkblue;
  font-weight: 900;
}